<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="mmtAutomation">
  <test thread-count="5" name="All Tests">
    <classes>
      
      <class name="testScenarios.TS1_navigateToCabs"/>
      <class name="testScenarios.TS3_bookACab"/>
      <class name="testScenarios.TS4_searchResultCabs"/>
      <class name="testScenarios.TS2_navigateToHotels"/>
      <class name="testScenarios.TS6_bookHotel"/>
      <class name="testScenarios.TS2_navigateToGiftCards"/>
      <class name="testScenarios.TS5_groupGifting"/>
    </classes>
  </test> <!-- All Tests -->
</suite> <!-- mmtAutomation -->
